//Display
$b: block
$ib: inline-block
$fb: flex
$tb: table

//position
$pr: relative
$a: absolute

//general values
$n: none
$no: no-repeat
$u: unset
$i: initial

//font
$googleFont: ''
$font: ''
$defaultRem: 5rem

//color
$bodyColor: #333

//align
$l: left
$r: right
$c: center

//grid

$containerWidth: null
$containerPadding: null
$gridColumn: 10
$grid: 100% / $gridColumn
$gridGutter: 30px
//sabit değişken lan
$heading: 6